extends layout

block content
	h1 
		a(href='/') #{title}

	form(action="/bookmark/add", method="GET")
		input(type="text", name="name", value="test")
		input(type="text", name="url", value="http://www.bing.de")
		input(type="submit", value="Add Bookmark")



	table
		thead
			tr
				th Name
				th URL
				th Date
		tbody
			tr
				td
					abc asdas
					exa asd a
					pf  asd sad
		each bookmark in bookmarks
			tr
				td #{bookmark.name}
				td 
					if bookmark.url
						a(href='#{bookmark.url}', target='_blank') #{bookmark.name}
					else
						div undefined
				td 	
					if bookmark.date
						div #{moment(bookmark.date).format("DD.MM.YYYY")}
					else
						div 

