extends layout

block content
	div.container
		nav.navbar.navbar-default(role="navigation")
			div.navbar-header
				a.navbar-brand(href="/") Home
			div.navbar-collapse.collapase
				ul.nav.navbar-nav
					li.active
						a(href="#") link
					li
						a(href="#") link
					li
						a(href="#") link
				ul.nav.navbar-nav.navbar-right
					li
						a(href="#") #{username}
					li
						a(href="/logout") Logout




		form(action="/bookmark/add", method="POST")
			input(type="text", name="name")
			input(type="text", name="url", size="80")
			input(type="submit", value="Add Bookmark")



		table.rlTable
			thead
				tr
					th Name
					th URL
					th Date
			tbody
			each bookmark in bookmarks
				tr.highlight.hovershowicom
					td #{bookmark.name}
					td 
						if bookmark.url
							a(href='#{bookmark.url}', target='_blank') #{bookmark.name}
						else
							div undefined
					td 	
						if bookmark.date
							div #{moment(bookmark.date).format("DD.MM.YYYY HH:mm")}
						else
							div 
					td
						a(href="edit") 
							img.dynamicshow.hide(src="images/pencil.gif")



